{% extends 'base.html' %}

{% block title %}Syarat dan Ketentuan{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="header">
        <h1>Syarat dan Ketentuan</h1>
        <p>Berikut adalah syarat dan ketentuan untuk penyewaan baju:</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><i class="fas fa-phone-alt"></i> Mempunyai No HP yang bisa dihubungi</li>
        <li class="list-group-item"><i class="fas fa-clock"></i> Pengembalian harus tepat waktu</li>
        <li class="list-group-item"><i class="fas fa-exclamation-circle"></i> Jika pengembalian terlambat diharapkan konfirmasi ke toko persewaan</li>
        <li class="list-group-item"><i class="fas fa-id-card"></i> Fotocopy KTP</li>
    </ul>
    <br></br>
</div>
{% endblock %}
